.App {
  text-align: center;
}
.wrapper, html, body {
  height:100%;
  margin:0;
}
/* .wrapper {
  display: flex;
  flex-direction: column;
} */
/* .product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cart-list{
  display: flex;
  flex-direction: row;
} */
.product-main{
  display: flex;
  flex-direction: row;
}
.store-items{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card{
  width:300px;
  margin: 2px;
}
.product-main div{
  margin: 1%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background:rgb(88, 88, 145);
  color: white;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
